In [1]:
# Import Pandas as Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read the post covid file and store into Pandas DataFrame
post_covid_df = pd.read_csv("Resources/Post-COVID_Conditions.csv")
post_covid_df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,LowCI,HighCI,Confidence Interval,Quartile range,Quartile number,Suppression Flag
0,"Ever experienced long COVID, as a percentage o...",National Estimate,United States,United States,3.5,46,"Jun 1 - Jun 13, 2022",6/1/2022,6/13/2022,14.0,13.5,14.5,13.5 - 14.5,NaN,NaN,NaN
1,"Ever experienced long COVID, as a percentage o...",By Age,United States,18 - 29 years,3.5,46,"Jun 1 - Jun 13, 2022",6/1/2022,6/13/2022,17.8,15.9,19.8,15.9 - 19.8,NaN,NaN,NaN
2,"Ever experienced long COVID, as a percentage o...",By Age,United States,30 - 39 years,3.5,46,"Jun 1 - Jun 13, 2022",6/1/2022,6/13/2022,15.2,14.1,16.2,14.1 - 16.2,NaN,NaN,NaN
3,"Ever experienced long COVID, as a percentage o...",By Age,United States,40 - 49 years,3.5,46,"Jun 1 - Jun 13, 2022",6/1/2022,6/13/2022,16.9,15.7,18.3,15.7 - 18.3,NaN,NaN,NaN
4,"Ever experienced long COVID, as a percentage o...",By Age,United States,50 - 59 years,3.5,46,"Jun 1 - Jun 13, 2022",6/1/2022,6/13/2022,15.3,14.1,16.7,14.1 - 16.7,NaN,NaN,NaN

In [3]:
post_covid_df["Time Period End Date"]= pd.to_datetime(post_covid_df["Time Period End Date"])
post_covid_df["Time Period End Date"].max()

Timestamp('2023-01-16 00:00:00')

In [5]:
# Filter df by "By State" and the most recent date "2/15/2023"
f_post_covid_df = post_covid_df.loc[(post_covid_df["Group"] == "By State") & (post_covid_df["Time Period End Date"] == "2023-01-16 00:00:00")]
f_post_covid_df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,LowCI,HighCI,Confidence Interval,Quartile range,Quartile number,Suppression Flag
4383,"Ever experienced long COVID, as a percentage o...",By State,Alabama,Alabama,3.7,53,"Jan 4 - Jan 16, 2023",1/4/2023,2023-01-16,18.1,14.9,21.6,14.9 - 21.6,16.7-21.6,4.0,NaN
4384,"Ever experienced long COVID, as a percentage o...",By State,Alaska,Alaska,3.7,53,"Jan 4 - Jan 16, 2023",1/4/2023,2023-01-16,16.5,13.3,20.3,13.3 - 20.3,15.3-16.6,3.0,NaN
4385,"Ever experienced long COVID, as a percentage o...",By State,Arizona,Arizona,3.7,53,"Jan 4 - Jan 16, 2023",1/4/2023,2023-01-16,16.5,14.0,19.3,14.0 - 19.3,15.3-16.6,3.0,NaN
4386,"Ever experienced long COVID, as a percentage o...",By State,Arkansas,Arkansas,3.7,53,"Jan 4 - Jan 16, 2023",1/4/2023,2023-01-16,21.6,18.0,25.5,18.0 - 25.5,16.7-21.6,4.0,NaN
4387,"Ever experienced long COVID, as a percentage o...",By State,California,California,3.7,53,"Jan 4 - Jan 16, 2023",1/4/2023,2023-01-16,15.8,13.9,17.8,13.9 - 17.8,15.3-16.6,3.0,NaN

In [6]:
# Create the dataframe with desired columns
m_post_covid_df = f_post_covid_df[["Indicator", "State", "Value"]]
m_post_covid_df.head()

                                              Indicator       State  Value
4383  Ever experienced long COVID, as a percentage o...     Alabama   18.1
4384  Ever experienced long COVID, as a percentage o...      Alaska   16.5
4385  Ever experienced long COVID, as a percentage o...     Arizona   16.5
4386  Ever experienced long COVID, as a percentage o...    Arkansas   21.6
4387  Ever experienced long COVID, as a percentage o...  California   15.8

In [7]:
m_post_covid_df = m_post_covid_df.pivot_table(index=['State'], columns='Indicator',
                     values='Value', aggfunc='first').reset_index()
m_post_covid_df.head()

Indicator,State,"Any activity limitations from long COVID, as a percentage of adults who currently have long COVID","Any activity limitations from long COVID, as a percentage of all adults","Currently experiencing long COVID, as a percentage of adults who ever had COVID","Currently experiencing long COVID, as a percentage of all adults","Ever experienced long COVID, as a percentage of adults who ever had COVID","Ever experienced long COVID, as a percentage of all adults",Ever had COVID,"Significant activity limitations from long COVID, as a percentage of adults who currently have long COVID","Significant activity limitations from long COVID, as a percentage of all adults"
0,Alabama,84.5,6.5,13.9,7.3,34.3,18.1,52.8,32.3,2.5
1,Alaska,75.3,3.9,8.2,4.9,27.6,16.5,60.4,NaN,0.5
2,Arizona,NaN,4.5,11.0,5.9,30.9,16.5,53.6,28.6,1.8
3,Arkansas,83.9,6.9,14.8,8.0,39.9,21.6,54.6,NaN,3.1
4,California,79.3,4.4,9.3,5.3,27.5,15.8,57.7,22.8,1.3

In [8]:
# Remove the undesired five columns
m_post_covid_df.drop(m_post_covid_df.columns[[1, 2, 3, 4, 6, 7, 8, 9]], axis=1, inplace=True)  
m_post_covid_df.head()

Indicator,State,"Ever experienced long COVID, as a percentage of adults who ever had COVID"
0,Alabama,34.3
1,Alaska,27.6
2,Arizona,30.9
3,Arkansas,39.9
4,California,27.5

In [9]:
# Read the vaccination file and store into Pandas DataFrame
vaccination_df = pd.read_csv("Resources/COVID-19_vaccinations_in_the_United_States_Jurisdiction.csv")
vaccination_df.head()

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Novavax,Distributed_Unk_Manuf,Dist_Per_100K,...,Dist_Bivalent_PFR,Dist_Bivalent_MOD,Bivalent_Booster_5Plus,Bivalent_Booster_5Plus_Pop_Pct,Bivalent_Booster_12Plus,Bivalent_Booster_12Plus_Pop_Pct,Bivalent_Booster_18Plus,Bivalent_Booster_18Plus_Pop_Pct,Bivalent_Booster_65Plus,Bivalent_Booster_65Plus_Pop_Pct
0,2/15/2023,7,MO,15334815,440800,5728660,9149255,16100.0,0,249857,...,NaN,NaN,859847.0,14.9,843682.0,16.1,820182.0,17.2,415413.0,39.1
1,2/15/2023,7,WV,5398595,172300,2174620,3043275,8400.0,0,301236,...,NaN,NaN,200264.0,11.8,198555.0,12.7,195052.0,13.6,110738.0,30.2
2,2/15/2023,7,DE,3255815,102600,1208800,1940515,3900.0,0,334354,...,NaN,NaN,197063.0,21.4,194050.0,23.1,188319.0,24.5,98316.0,52.0
3,2/15/2023,7,DD2,7702450,210800,2468340,4989010,34300.0,0,0,...,NaN,NaN,176072.0,0.0,172095.0,0.0,164996.0,0.0,32713.0,0.0
4,2/15/2023,7,MN,17956630,511500,6077220,11351310,16600.0,0,318401,...,NaN,NaN,1425112.0,26.9,1382320.0,28.9,1324689.0,30.5,578386.0,62.8

In [10]:
# Filter df for the most recent date (2/15/2023)
f_vaccination_df = vaccination_df[vaccination_df["Date"] == '2/15/2023']

In [11]:
# For df, pick location (state) and Series_Complete_18PlusPop_Pct (Total number of people 18+ with a completed primary series (have second dose of a two-dose vaccine or one dose of a single-dose vaccine) based on the jurisdiction where recipient lives)
m_vaccination_df = f_vaccination_df[["Location", "Series_Complete_18PlusPop_Pct"]]
m_vaccination_df

   Location  Series_Complete_18PlusPop_Pct
0        MO                           68.6
1        WV                           68.9
2        DE                           83.1
3       DD2                            0.0
4        MN                           81.3
..      ...                            ...
59       AZ                           75.0
60       MT                           68.2
61       PR                           88.4
62       AL                           63.2
63       LA                           65.9

[64 rows x 2 columns]

In [12]:
# Dictionary of state abbreviations and state names (https://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/)
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

# Replace the state abbrebeations with state name
m_vaccination_df['Location'].replace(states, inplace=True)
m_vaccination_df

# Rename the"Location" column to "State"
m_vaccination_df.rename(columns={'Location':'State'}, inplace=True)
m_vaccination_df

C:\Users\meena\AppData\Local\Temp\ipykernel_17608\4230485980.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_vaccination_df['Location'].replace(states, inplace=True)
C:\Users\meena\AppData\Local\Temp\ipykernel_17608\4230485980.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_vaccination_df.rename(columns={'Location':'State'}, inplace=True)

            State  Series_Complete_18PlusPop_Pct
0        Missouri                           68.6
1   West Virginia                           68.9
2        Delaware                           83.1
3             DD2                            0.0
4       Minnesota                           81.3
..            ...                            ...
59        Arizona                           75.0
60        Montana                           68.2
61    Puerto Rico                           88.4
62        Alabama                           63.2
63      Louisiana                           65.9

[64 rows x 2 columns]

In [17]:
# Remove rows with zero values
m_vaccination_df= m_vaccination_df[m_vaccination_df['Series_Complete_18PlusPop_Pct'] != 0]
# m_vaccination_df

In [18]:
# Read the 65+ age file and store into Pandas DataFrames
age_df = pd.read_csv("Resources/2020_census_age 65_ or_older.csv")
age_df.head()

# Create the dataframe with desired columns
m_age_df = age_df[["State", "Population Ages 65+ (percent of state population)"]]
m_age_df.head()

           State  Population Ages 65+ (percent of state population)
0          Maine                                               21.8
1        Florida                                               21.3
2  West Virginia                                               20.9
3        Vermont                                               20.6
4       Delaware                                               20.0

In [33]:
# Read the race file and store into Pandas DataFrames
race_df = pd.read_csv("Resources/2020_census_ race.csv")
race_df.head()

,Label (Grouping),United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico
0,Total:,"331,449,281","5,024,279","733,391","7,151,502","3,011,524","39,538,223","5,773,714","3,605,944","989,948",...,"6,910,840","29,145,505","3,271,616","643,077","8,631,393","7,705,281","1,793,716","5,893,718","576,851","3,285,874"
1,Population of one race:,"297,600,338","4,767,326","643,867","6,154,696","2,797,949","33,777,988","5,066,044","3,273,040","913,430",...,"6,497,942","24,011,767","2,992,603","606,051","7,925,686","6,868,622","1,708,772","5,534,184","533,378","1,650,083"
2,White alone,"204,277,273","3,220,452","435,392","4,322,337","2,114,512","16,296,122","4,082,927","2,395,128","597,763",...,"4,990,938","14,609,365","2,573,413","577,751","5,208,856","5,130,920","1,610,749","4,737,545","488,374","560,592"
3,Black or African American alone,"41,104,200","1,296,162","21,898","339,150","453,783","2,237,044","234,828","388,675","218,899",...,"1,092,948","3,552,997","40,058","9,034","1,607,581","307,565","65,813","376,256","5,232","228,711"
4,American Indian and Alaska Native alone,"3,727,135","33,625","111,575","319,512","27,177","631,016","74,129","16,051","5,148",...,"28,044","278,948","41,644","2,289","40,007","121,468","3,706","60,428","13,898","17,870"

In [34]:
# Using set_index() method on 'Label (Grouping)' column
race_df = race_df.set_index('Label (Grouping)')
race_df.head()

,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Total:,"331,449,281","5,024,279","733,391","7,151,502","3,011,524","39,538,223","5,773,714","3,605,944","989,948","689,545",...,"6,910,840","29,145,505","3,271,616","643,077","8,631,393","7,705,281","1,793,716","5,893,718","576,851","3,285,874"
Population of one race:,"297,600,338","4,767,326","643,867","6,154,696","2,797,949","33,777,988","5,066,044","3,273,040","913,430","633,468",...,"6,497,942","24,011,767","2,992,603","606,051","7,925,686","6,868,622","1,708,772","5,534,184","533,378","1,650,083"
White alone,"204,277,273","3,220,452","435,392","4,322,337","2,114,512","16,296,122","4,082,927","2,395,128","597,763","273,194",...,"4,990,938","14,609,365","2,573,413","577,751","5,208,856","5,130,920","1,610,749","4,737,545","488,374","560,592"
Black or African American alone,"41,104,200","1,296,162","21,898","339,150","453,783","2,237,044","234,828","388,675","218,899","285,810",...,"1,092,948","3,552,997","40,058","9,034","1,607,581","307,565","65,813","376,256","5,232","228,711"
American Indian and Alaska Native alone,"3,727,135","33,625","111,575","319,512","27,177","631,016","74,129","16,051","5,148","3,193",...,"28,044","278,948","41,644","2,289","40,007","121,468","3,706","60,428","13,898","17,870"

In [35]:
# Use the transpose() function to make "States" as index
race_df = race_df.transpose()
race_df.head()

Label (Grouping),Total:,Population of one race:,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population of two or more races:,Population of two races:,...,American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of five races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race,White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of six races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
United States,"331,449,281","297,600,338","204,277,273","41,104,200","3,727,135","19,886,049","689,966","27,915,715","33,848,943","31,890,339",...,553,"21,685","8,632","9,141","1,137","1,021","1,309",445,"2,505","2,505"
Alabama,"5,024,279","4,767,326","3,220,452","1,296,162","33,625","76,660","2,984","137,443","256,953","243,473",...,4,187,89,78,13,0,5,2,9,9
Alaska,"733,391","643,867","435,392","21,898","111,575","44,032","12,698","18,272","89,524","81,221",...,11,97,44,29,4,4,14,2,13,13
Arizona,"7,151,502","6,154,696","4,322,337","339,150","319,512","257,430","16,397","899,870","996,806","948,897",...,18,440,174,215,12,7,28,4,70,70
Arkansas,"3,011,524","2,797,949","2,114,512","453,783","27,177","51,839","14,533","136,105","213,575","203,299",...,0,118,60,38,2,15,2,1,12,12

In [36]:
#  Drop the "United States" row
race_df = race_df.drop("United States")
race_df.head()

Label (Grouping),Total:,Population of one race:,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population of two or more races:,Population of two races:,...,American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of five races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race,White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of six races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
Alabama,"5,024,279","4,767,326","3,220,452","1,296,162","33,625","76,660","2,984","137,443","256,953","243,473",...,4,187,89,78,13,0,5,2,9,9
Alaska,"733,391","643,867","435,392","21,898","111,575","44,032","12,698","18,272","89,524","81,221",...,11,97,44,29,4,4,14,2,13,13
Arizona,"7,151,502","6,154,696","4,322,337","339,150","319,512","257,430","16,397","899,870","996,806","948,897",...,18,440,174,215,12,7,28,4,70,70
Arkansas,"3,011,524","2,797,949","2,114,512","453,783","27,177","51,839","14,533","136,105","213,575","203,299",...,0,118,60,38,2,15,2,1,12,12
California,"39,538,223","33,777,988","16,296,122","2,237,044","631,016","6,085,947","157,263","8,370,596","5,760,235","5,380,042",...,109,"4,107","1,345","2,002",236,208,284,32,450,450

In [42]:
# Create new df with desired columns
m_race_df = race_df.iloc[:, [2, 3, 4, 5, 6, 7]].copy() 
# m_race_df

In [43]:
m_race_df = m_race_df.reset_index()
# m_race_df

In [45]:
# Rename the"index" column to "State"
m_race_df.rename(columns={'index':'State'}, inplace=True)
m_race_df.head()

Label (Grouping),State,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone
0,Alabama,"3,220,452","1,296,162","33,625","76,660","2,984","137,443"
1,Alaska,"435,392","21,898","111,575","44,032","12,698","18,272"
2,Arizona,"4,322,337","339,150","319,512","257,430","16,397","899,870"
3,Arkansas,"2,114,512","453,783","27,177","51,839","14,533","136,105"
4,California,"16,296,122","2,237,044","631,016","6,085,947","157,263","8,370,596"

In [272]:
# Read the disability file and store into Pandas DataFrame
disability_df = pd.read_csv("Resources/2020_census_disability.csv")
disability_df.head()

,Label (Grouping),Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!With a disability!!Estimate,Alabama!!With a disability!!Margin of Error,Alabama!!Percent with a disability!!Estimate,Alabama!!Percent with a disability!!Margin of Error,Alaska!!Total!!Estimate,Alaska!!Total!!Margin of Error,Alaska!!With a disability!!Estimate,...,Unnamed: 314,Unnamed: 315,Unnamed: 316,Unnamed: 317,Unnamed: 318,Unnamed: 319,Unnamed: 320,Unnamed: 321,Unnamed: 322,Unnamed: 323
0,Total civilian noninstitutionalized population,"4,957,633","±3,134","808,071","±16,776",16.30%,±0.3,"702,154","±2,286","92,390",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,"2,384,150","±6,717","378,736","±11,003",15.90%,±0.5,"357,463","±3,151","49,757",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Female,"2,573,483","±6,483","429,335","±11,240",16.70%,±0.4,"344,691","±2,698","42,633",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [273]:
# Using set_index() method on 'Label (Grouping)' column to make it index so that use of regex method in the next cell will not impact this column
disability_df = disability_df.set_index('Label (Grouping)')
disability_df.head()

,Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!With a disability!!Estimate,Alabama!!With a disability!!Margin of Error,Alabama!!Percent with a disability!!Estimate,Alabama!!Percent with a disability!!Margin of Error,Alaska!!Total!!Estimate,Alaska!!Total!!Margin of Error,Alaska!!With a disability!!Estimate,Alaska!!With a disability!!Margin of Error,...,Unnamed: 314,Unnamed: 315,Unnamed: 316,Unnamed: 317,Unnamed: 318,Unnamed: 319,Unnamed: 320,Unnamed: 321,Unnamed: 322,Unnamed: 323
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Total civilian noninstitutionalized population,"4,957,633","±3,134","808,071","±16,776",16.30%,±0.3,"702,154","±2,286","92,390","±4,793",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Male,"2,384,150","±6,717","378,736","±11,003",15.90%,±0.5,"357,463","±3,151","49,757","±3,190",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Female,"2,573,483","±6,483","429,335","±11,240",16.70%,±0.4,"344,691","±2,698","42,633","±3,210",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [274]:
# Use "regex" function to get state columns with "Percent with a disability!!Estimate" only
disability_df = disability_df.filter(regex= "Percent with a disability!!Estimate")
disability_df.head()

,Alabama!!Percent with a disability!!Estimate,Alaska!!Percent with a disability!!Estimate,Arizona!!Percent with a disability!!Estimate,Arkansas!!Percent with a disability!!Estimate,California!!Percent with a disability!!Estimate,Colorado!!Percent with a disability!!Estimate,Connecticut!!Percent with a disability!!Estimate,Delaware!!Percent with a disability!!Estimate,District of Columbia!!Percent with a disability!!Estimate,Florida!!Percent with a disability!!Estimate,...,Tennessee!!Percent with a disability!!Estimate,Texas!!Percent with a disability!!Estimate,Utah!!Percent with a disability!!Estimate,Vermont!!Percent with a disability!!Estimate,Virginia!!Percent with a disability!!Estimate,Washington!!Percent with a disability!!Estimate,West Virginia!!Percent with a disability!!Estimate,Wisconsin!!Percent with a disability!!Estimate,Wyoming!!Percent with a disability!!Estimate,Puerto Rico!!Percent with a disability!!Estimate
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Total civilian noninstitutionalized population,16.30%,13.20%,13.60%,17.40%,11.20%,11.20%,12.00%,13.20%,11.60%,13.50%,...,14.90%,12.10%,10.30%,13.80%,12.40%,13.10%,18.70%,11.90%,13.90%,22.00%
SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Male,15.90%,13.90%,13.50%,17.30%,10.70%,11.20%,11.80%,14.00%,10.90%,13.60%,...,15.00%,12.00%,10.20%,14.50%,12.20%,12.90%,18.80%,11.80%,13.60%,21.40%
Female,16.70%,12.40%,13.60%,17.40%,11.60%,11.20%,12.20%,12.50%,12.30%,13.50%,...,14.90%,12.10%,10.50%,13.00%,12.60%,13.30%,18.70%,12.00%,14.30%,22.50%
RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
# Format the state names by removing undesired text
disability_df.columns = [col.replace('!!Percent with a disability!!Estimate', '') for col in disability_df.columns]
disability_df.columns

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype='object')

In [276]:
# Use the transpose() function to make "States" as index
m_disability_df = disability_df = disability_df.transpose()
m_disability_df.head()

Label (Grouping),Total civilian noninstitutionalized population,SEX,Male,Female,RACE AND HISPANIC OR LATINO ORIGIN,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,...,Population 75 years and over,Population 18 and over with self-care disability,With an independent living difficulty,Population 18 to 64 years,Population 18 to 34 years,Population 35 to 64 years,Population 65 years and over,Population 65 to 74 years,Population 75 years and over,Population 18 and over with independent living disability
Alabama,16.30%,NaN,15.90%,16.70%,NaN,16.60%,16.90%,17.20%,6.80%,N,...,12.70%,3.36%,7.30%,5.00%,3.30%,5.90%,15.20%,9.30%,24.70%,7.30%
Alaska,13.20%,NaN,13.90%,12.40%,NaN,14.10%,20.40%,16.60%,5.90%,N,...,7.60%,2.27%,4.90%,3.60%,3.60%,3.60%,10.50%,9.10%,13.50%,4.91%
Arizona,13.60%,NaN,13.50%,13.60%,NaN,15.20%,13.40%,15.10%,7.40%,12.80%,...,9.50%,2.60%,5.50%,3.70%,2.90%,4.20%,11.40%,6.50%,18.30%,5.51%
Arkansas,17.40%,NaN,17.30%,17.40%,NaN,18.40%,18.50%,19.30%,6.50%,N,...,13.80%,3.92%,7.70%,5.60%,4.00%,6.60%,14.70%,8.80%,23.80%,7.66%
California,11.20%,NaN,10.70%,11.60%,NaN,13.20%,15.80%,13.00%,8.70%,13.50%,...,15.60%,2.99%,5.70%,3.20%,2.60%,3.60%,15.70%,8.30%,26.70%,5.68%

In [277]:
# Remove the undesired 17 columns
m_disability_df.drop(m_disability_df.columns[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], axis=1, inplace=True)  
m_disability_df.head()

Label (Grouping),Total civilian noninstitutionalized population,Population 18 and over,DISABILITY TYPE BY DETAILED AGE,With a hearing difficulty,Population under 18 years,Population under 5 years,Population 5 to 17 years,Population 18 to 64 years,Population 18 to 34 years,Population 35 to 64 years,...,Population 75 years and over,Population 18 and over with self-care disability,With an independent living difficulty,Population 18 to 64 years,Population 18 to 34 years,Population 35 to 64 years,Population 65 years and over,Population 65 to 74 years,Population 75 years and over,Population 18 and over with independent living disability
Alabama,16.30%,19.68%,NaN,4.20%,0.60%,0.20%,0.70%,2.60%,1.00%,3.50%,...,12.70%,3.36%,7.30%,5.00%,3.30%,5.90%,15.20%,9.30%,24.70%,7.30%
Alaska,13.20%,16.04%,NaN,4.80%,0.40%,0.40%,0.40%,3.90%,1.10%,5.60%,...,7.60%,2.27%,4.90%,3.60%,3.60%,3.60%,10.50%,9.10%,13.50%,4.91%
Arizona,13.60%,15.97%,NaN,4.20%,0.80%,0.80%,0.80%,2.20%,1.00%,3.00%,...,9.50%,2.60%,5.50%,3.70%,2.90%,4.20%,11.40%,6.50%,18.30%,5.51%
Arkansas,17.40%,20.58%,NaN,4.80%,0.90%,1.10%,0.80%,2.70%,1.20%,3.60%,...,13.80%,3.92%,7.70%,5.60%,4.00%,6.60%,14.70%,8.80%,23.80%,7.66%
California,11.20%,13.32%,NaN,2.90%,0.50%,0.50%,0.50%,1.50%,0.80%,2.00%,...,15.60%,2.99%,5.70%,3.20%,2.60%,3.60%,15.70%,8.30%,26.70%,5.68%

In [278]:
m_disability_df.columns

Index(['Total civilian noninstitutionalized population',
       '        Population 18 and over ',
       '    DISABILITY TYPE BY DETAILED AGE',
       '        With a hearing difficulty',
       '            Population under 18 years',
       '                Population under 5 years',
       '                Population 5 to 17 years',
       '            Population 18 to 64 years',
       '                Population 18 to 34 years',
       '                Population 35 to 64 years',
       '            Population 65 years and over',
       '                Population 65 to 74 years',
       '                Population 75 years and over',
       '            Population 18 and over with hearing disability',
       '        With a vision difficulty',
       '            Population under 18 years',
       '                Population under 5 years',
       '                Population 5 to 17 years',
       '            Population 18 to 64 years',
       '                Population 18 to 34 years',
       '                Population 35 to 64 years',
       '            Population 65 years and over',
       '                Population 65 to 74 years',
       '                Population 75 years and over',
       '            Population 18 and over with vision disability',
       '        With a cognitive difficulty',
       '            Population under 18 years',
       '            Population 18 to 64 years',
       '                Population 18 to 34 years',
       '                Population 35 to 64 years',
       '            Population 65 years and over',
       '                Population 65 to 74 years',
       '                Population 75 years and over',
       '            Population 18 and over with cognitive disability',
       '        With an ambulatory difficulty',
       '            Population under 18 years',
       '            Population 18 to 64 years',
       '                Population 18 to 34 years',
       '                Population 35 to 64 years',
       '            Population 65 years and over',
       '                Population 65 to 74 years',
       '                Population 75 years and over',
       '            Population 18 and over with ambulatory disability',
       '        With a self-care difficulty',
       '            Population under 18 years',
       '            Population 18 to 64 years',
       '                Population 18 to 34 years',
       '                Population 35 to 64 years',
       '            Population 65 years and over',
       '                Population 65 to 74 years',
       '                Population 75 years and over',
       '            Population 18 and over with self-care disability',
       '        With an independent living difficulty',
       '            Population 18 to 64 years',
       '                Population 18 to 34 years',
       '                Population 35 to 64 years',
       '            Population 65 years and over',
       '                Population 65 to 74 years',
       '                Population 75 years and over',
       '            Population 18 and over with independent living disability'],
      dtype='object', name='Label (Grouping)')

In [279]:
# Remove the leading white spaces from the column headers of the df
m_disability_df = m_disability_df.rename(columns=lambda x: x.strip())
m_disability_df.columns

Index(['Total civilian noninstitutionalized population',
       'Population 18 and over', 'DISABILITY TYPE BY DETAILED AGE',
       'With a hearing difficulty', 'Population under 18 years',
       'Population under 5 years', 'Population 5 to 17 years',
       'Population 18 to 64 years', 'Population 18 to 34 years',
       'Population 35 to 64 years', 'Population 65 years and over',
       'Population 65 to 74 years', 'Population 75 years and over',
       'Population 18 and over with hearing disability',
       'With a vision difficulty', 'Population under 18 years',
       'Population under 5 years', 'Population 5 to 17 years',
       'Population 18 to 64 years', 'Population 18 to 34 years',
       'Population 35 to 64 years', 'Population 65 years and over',
       'Population 65 to 74 years', 'Population 75 years and over',
       'Population 18 and over with vision disability',
       'With a cognitive difficulty', 'Population under 18 years',
       'Population 18 to 64 years', 'Population 18 to 34 years',
       'Population 35 to 64 years', 'Population 65 years and over',
       'Population 65 to 74 years', 'Population 75 years and over',
       'Population 18 and over with cognitive disability',
       'With an ambulatory difficulty', 'Population under 18 years',
       'Population 18 to 64 years', 'Population 18 to 34 years',
       'Population 35 to 64 years', 'Population 65 years and over',
       'Population 65 to 74 years', 'Population 75 years and over',
       'Population 18 and over with ambulatory disability',
       'With a self-care difficulty', 'Population under 18 years',
       'Population 18 to 64 years', 'Population 18 to 34 years',
       'Population 35 to 64 years', 'Population 65 years and over',
       'Population 65 to 74 years', 'Population 75 years and over',
       'Population 18 and over with self-care disability',
       'With an independent living difficulty', 'Population 18 to 64 years',
       'Population 18 to 34 years', 'Population 35 to 64 years',
       'Population 65 years and over', 'Population 65 to 74 years',
       'Population 75 years and over',
       'Population 18 and over with independent living disability'],
      dtype='object', name='Label (Grouping)')

In [280]:
m_disability_df = m_disability_df[["Population 18 and over", "Population 18 and over with hearing disability", "Population 18 and over with vision disability", "Population 18 and over with cognitive disability", "Population 18 and over with ambulatory disability", "Population 18 and over with self-care disability", "Population 18 and over with independent living disability"]]
m_disability_df.head()

Label (Grouping),Population 18 and over,Population 18 and over with hearing disability,Population 18 and over with vision disability,Population 18 and over with cognitive disability,Population 18 and over with ambulatory disability,Population 18 and over with self-care disability,Population 18 and over with independent living disability
Alabama,19.68%,5.25%,3.76%,6.86%,11.11%,3.36%,7.30%
Alaska,16.04%,6.24%,2.79%,5.29%,6.93%,2.27%,4.91%
Arizona,15.97%,5.13%,3.00%,5.48%,8.04%,2.60%,5.51%
Arkansas,20.58%,5.98%,4.21%,7.58%,11.24%,3.92%,7.66%
California,13.32%,3.65%,2.62%,4.92%,6.87%,2.99%,5.68%

In [ ]:
# Merge the two data frames into a single data frame for data analysis. Use "school name" (common column in both) as a key and "left" join to combine the two data frames.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])